<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HCA game review</title>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" rel="stylesheet">
</head>

<body>
  <header>
    <h1>ACH Game Review</h1>
  </header>
  <nav>
    <a href="/">Home</a>
    {{#if logged_in}}
    <button id="logout" class="btn-no-style">Logout</button>
    {{else}}
    <a href="/login">Login</a>
    {{/if}}
  </nav>
  <main>
    <aside>
      <h2>Saved game</h2>
      <form id="saved"></form>
    </aside>
    <div class="gallery">
      {{{body}}}
    </div>
  </main>


  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  <script src="/js/savegame.js"></script>
  {{/if}}

</body>

</html>